<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.upd.contraplus2020">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Activities -->
        <activity
            android:name="com.upd.contraplus2020.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.upd.contraplus2020.MainActivity" />
        <activity android:name="com.upd.contraplus2020.DashboardActivity" />
        <activity android:name="com.upd.contraplus2020.ProfileActivity" />

        <activity android:name="com.upd.contraplus2020.activity.InformationActivity" />
        <activity android:name="com.upd.contraplus2020.activity.SliderAdapterActivity" />
        <activity android:name="com.upd.contraplus2020.activity.EulaActivity" />
        <activity android:name="com.upd.contraplus2020.activity.UpdateSymptomsActivity" />
        <activity android:name="com.upd.contraplus2020.activity.MapActivity" />
        <activity android:name="com.upd.contraplus2020.activity.StaySafeActivity" />
        <activity android:name="com.upd.contraplus2020.activity.ManualTracingActivity" />
        <activity android:name="com.upd.contraplus2020.activity.RegisterActivity"/>
        <activity android:name="com.upd.contraplus2020.activity.EditProfileActivity" />
        <activity
            android:name="com.upd.contraplus2020.fragment.GoogleMapFragment"
            android:label="Google Maps" />

        <!-- Service -->
        <service
            android:name="com.upd.contraplus2020.service.LocationService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.upd.contraplus2020.service.ApolloService"
            android:enabled="true"
            android:exported="false" />

        <!-- Receiver -->
        <receiver
            android:name="com.upd.contraplus2020.activity.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- meta data -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- Google API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>